.react-ui-scheduler-table {
    font:  caption;
    color: rgba(0, 0, 0, 0.54);
}

.react-ui-scheduler-table tbody td {
    border: 1px solid lightgray;
}

.react-ui-scheduler-table tbody tr {
    height: 28px;
}

.react-ui-scheduler-eventHeader {
    font: caption;
    font-size: 12px;
    padding:   3px 3px 0 3px;
}

.react-ui-scheduler-eventBody {
    font: caption;
    font-weight: bold;
    padding:     0 3px 0 3px;
}

