.react-ui-calendar-table {
    font:  caption;
    color: rgba(0, 0, 0, 0.54);
}

.react-ui-calendar-table tbody td {
    border: 1px solid lightgray;
}

.react-ui-calendar-table tbody tr {
    height: 28px;
}

.react-ui-calendar-eventHeader {
    font: caption;
    font-size: 12px;
}

.react-ui-calendar-eventBody {
    font: caption;
    font-weight: bold;
}

